.header-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem 1rem 2rem;

  & p {
    font-family: var(--body-font);
    font-size: var(--tag-size);
  }
}

.cards-activity {
  display: grid;
  grid-template-columns: 320px;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 1024px) {
  .flx-activitypg {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem;
  }

  .activities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 1.5rem 0 2rem 8rem;
  }
  .cards-activity {
    width: 100%;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: start;
  }

  .header-activity {
    width: 80%;
    & p {
      font-size: var(--tag-desktop-size);
    }
  }
}
