.tagline {
  margin-top: 2rem;
  margin-left: 8rem;
  font-family: var(--heading-font);
  font-size: var(--heading-desktop-size);
}

.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  gap: 2rem;
  width: 85%;
}

.header-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & p {
    font-family: var(--body-font);
    font-size: var(--tag-size);
  }
}

.cards-activity {
  display: grid;
  grid-template-columns: 320px;
  gap: 1rem;
  justify-content: center;
}

.filter-tag-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

@media (min-width: 1024px) {
  .page-activities {
    width: calc(100% - 8rem);
    margin-left: 8rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }

  .activities-container {
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 2rem;
    gap: 2rem;
  }

  .cards-activity {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .header-activity {
    width: 100%;
    padding-right: 1.5rem;

    & > h1 {
      font-size: var(--title-desktop-size);
    }

    & p {
      font-size: var(--tag-desktop-size);
    }
  }

  .filters-desktop {
    width: 20%;
    margin-top: 2.5rem;
  }
}
