.cards-activities-publicated {
  display: grid;
  grid-template-columns: 320px;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 6rem;
}

@media (min-width: 1024px) {
  .cards-activities-publicated {
    width: 90%;
    grid-template-columns: repeat(4, minmax(320px, 2fr));
    margin-left: 8rem;
  }
}
