.homepage {
  margin-bottom: 10rem;
}

h1.homepage-title {
  text-align: center;
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-size: 60px;
  padding: 1rem 1rem 0rem 1rem;
  height: 68px;
  margin-top: 40px;
}

h2.homepage-subtitle {
  color: var(--dark-color);
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  padding: 1rem;
  margin-top: 10px;
}

article.homepage-article {
  width: 90%;
  height: 120px;
  margin: auto;
  display: flex;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0 1rem;
  align-items: center;
}

.homepage .homepage-article:first-of-type {
  padding-top: 12px;
  align-items: flex-start;
  text-align: center;
}

article.homepage-article p {
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: 1.4;
}

.homepage a p {
  text-align: center;
}

article.homepage-article p strong {
  font-family: var(--body-highlight-font);
}

.superwrapper {
  position: relative;
}

.homepage-button-wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  padding: 1rem;
  position: absolute;
  top: -30px;
}

.homepage-button-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: var(--button-size);
  font-family: var(--button-font);
  color: var(--light-color);
  background-color: var(--button-color);
  border-radius: 10px;
  width: 113px;
  height: 28px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.homepage-button-wrapper button img {
  width: 15px;
  height: 15px;
}

.homepage-button-wrapper a {
  text-decoration: none;
}

.homepage-carrousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.homepage-carrousel article {
  min-width: 320px;
}

.homepage-subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  margin-top: 30px;
}

.homepage-subtitle-wrapper p {
  font-size: var(--tag-size);
  font-family: var(--body-font);
}
