.navbar {
  background-color: var(--dark-color);
  height: 3.75rem;
  width: 100vw;
  box-shadow: 0 -4px 4px rgba(46, 46, 46, 0.25);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > .top-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-right: 2.5rem;
  }

  & > .bottom-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    & > .btn-chat {
      display: none;
    }
  }
}

.hello {
  display: none;
}

@media (min-width: 1024px) {
  .navbar {
    height: 100vh;
    width: 6rem;
    flex-direction: column;
    justify-content: space-between;

    & > .top-navbar {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      width: 100%;
      margin-right: 0;
      padding-top: 1.25rem;
    }

    & > .bottom-navbar {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      padding-bottom: 1.25rem;

      & > .btn-chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        & > img {
          display: block;
          width: 2.25rem;
        }

        & > p {
          color: var(--light-color);
          font-family: var(--body-font);
          font-size: var(--body-desktop-size);
        }
      }
    }
  }

  .hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);

    & p:nth-of-type(1) {
      font-family: var(--body-font);
      font-size: var(--body-desktop-size);
      line-height: 2;
    }

    & p:nth-of-type(2) {
      font-family: var(--title-font);
      font-size: var(--title-desktop-size);
    }
  }
}

.navbar::before {
  content: "";
  position: absolute;
  top: -6rem;
  left: 0;
  right: 0;
  height: 6rem;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

.navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--light-color);
  text-decoration: none;
  font-family: var(--body-font);
  font-size: var(--body-size);
  height: 2.1rem;
  cursor: pointer;

  &.link-active {
    color: var(--button-color);
  }

  &.link-publication {
    position: absolute;
    left: 50%;
    bottom: 2.45rem;
    transform: translateX(-50%);
    background-color: var(--button-color);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    box-shadow: 0 4px 4px rgba(46, 46, 46, 0.25);

    &.link-publication-active {
      box-shadow: inset 0 4px 4px rgba(46, 46, 46, 0.25);
    }
  }
}

@media (min-width: 1024px) {
  .navbar-link {
    font-size: var(--body-desktop-size);

    &.link-publication {
      background: none;
      position: inherit;
      transform: translateX(0);
    }
  }
}

svg {
  fill: var(--light-color);
}

.link-active > svg {
  fill: var(--button-color);
}
