.flex-spacing input {
  margin-left: 5rem;
}

.ttls {
  font-family: var(--body-font);
  font-size: var(--body-size);
}

.price-tag {
  font-family: var(--body-font);
  font-size: var(--body-size);
}

.slider {
  height: 0.2rem;
  accent-color: var(--accent-color);
}

.slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
