section.searchbar {
  display: flex;
  /* justify-content: space-between;
  flex-wrap: wrap;
  width: 85%; */
  margin: auto;
}

section.searchbar article {
  position: relative;
  margin-top: 4px;
}

section.searchbar article:nth-of-type(1) {
  width: 100%;
  max-width: 330px;
}

section.searchbar article:nth-of-type(2) {
  width: 45%;
  max-width: 161px;
}
section.searchbar article:nth-of-type(3) {
  width: 40%;
  max-width: 132px;
}

section.searchbar article input {
  border: 1px solid var(--input-color);
  border-radius: 8px;
  height: 37px;
  padding-left: 30px;
  width: 100%;
  font-family: var(--body-font);
  font-size: var(--body-size);
}

section.searchbar article input.bottom-border {
  border-radius: 8px 8px 0 0;
}

section.searchbar article input:focus {
  border: solid 3px var(--input-color);
  outline: none;
}

section.searchbar article input.error-input {
  border: 3px solid rgb(252, 66, 66);
  border-radius: 8px 8px 0 0;
}

section.searchbar article img {
  position: absolute;
  left: 7px;
  top: 7px;
}

section.searchbar article svg {
  position: absolute;
  left: 7px;
  top: 7px;
  fill: var(--input-color);
  width: 24px;
  height: 24px;
}

section.searchbar article svg.error-svg {
  fill: rgb(252, 66, 66);
}

section.searchbar button.filter-button {
  max-width: 37px;
  max-height: 37px;
  margin-top: 4px;
}

section.searchbar article ul.dropdown {
  position: absolute;
  top: 37px;
  border: 1px solid var(--input-color);
  width: 100%;
  z-index: 2;
  background: var(--light-color);
  max-height: 250px;
  overflow-y: scroll;
}

section.searchbar article ul.dropdown-false {
  position: absolute;
  top: 37px;
  border: 1px solid rgb(252, 66, 66);
  width: 100%;
  z-index: 2;
  background: var(--neutral-color);
}

section.searchbar article ul.dropdown button {
  width: 100%;
  border: none;
  background: none;
  font-family: var(--body-font);
  font-size: var(--body-size);
  text-align: start;
  padding-left: 4px;
  height: 30px;
}

section.searchbar article ul.dropdown-false li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: none;
  background: none;
  font-family: var(--body-font);
  font-size: var(--body-size);
  padding-left: 4px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  section.searchbar article ul.dropdown button {
    font-size: var(--body-desktop-size);
  }

  section.searchbar article ul.dropdown button:hover {
    background-color: var(--neutral-color);
    cursor: pointer;
  }

  section.searchbar article input {
    font-size: var(--body-desktop-size);
    height: 45px;
    padding-left: 40px;
  }

  section.searchbar article:nth-of-type(3) {
    max-width: 161px;
  }

  section.searchbar article ul.dropdown,
  section.searchbar article ul.dropdown-false {
    top: 45px;
  }

  section.searchbar article img,
  section.searchbar article svg {
    left: 7px;
    top: 10px;
  }

  section.searchbar button.search-button {
    color: var(--light-color);
    background: var(--button-color);
    font-size: var(--body-desktop-size);
    font-family: var(--button-font);
    width: 132px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  section.searchbar button.search-button:hover {
    transform: scale(1.05);
  }
  section.searchbar {
    justify-content: flex-start;
    gap: 8px;
  }
}
