@font-face {
  font-family: "heading-mobile";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
  font-size: 18px;
  font-weight: 600;
}

@font-face {
  font-family: "title-mobile";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
  font-size: 16px;
  font-weight: 600;
}

@font-face {
  font-family: "button-mobile";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
  font-size: 12px;
  font-weight: 500;
}

@font-face {
  font-family: "body-highlight-mobile";
  src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
  font-size: 10px;
  font-weight: 500;
}

@font-face {
  font-family: "body-mobile";
  src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
  font-size: 10px;
  font-weight: 400;
}

@font-face {
  font-family: "tag-mobile";
  src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
  font-size: 8px;
  font-weight: 400;
}

:root {
  --heading-mobile: "heading-mobile";
  --title-mobile: "title-mobile";
  --button-mobile: "button-mobile";
  --body-highlight-mobile: "body-highlight-mobile";
  --body-mobile: "body-mobile";
  --tag-mobile: "tag-mobile";

  --light-color: rgb(250, 250, 250);
  --dark-color: rgb(46, 46, 46);
  --neutral-color: rgb(226, 226, 226);
  --accent-color: rgb(108, 92, 231);
  --button-color: rgb(242, 183, 5);
  --input-color: rgb(0, 189, 125);
}

[data-mode="light"] {
  --light-color: rgb(250, 250, 250);
  --dark-color: rgb(46, 46, 46);
  --neutral-color: rgb(226, 226, 226);
  --accent-color: rgb(108, 92, 231);
  --button-color: rgb(242, 183, 5);
  --input-color: rgb(0, 189, 125);
}

[data-mode="dark"] {
  --light-color: rgb(28, 28, 30);
  --dark-color: rgb(240, 240, 240);
  --neutral-color: rgb(58, 58, 60);
  --accent-color: rgb(130, 115, 255);
  --button-color: rgb(255, 198, 25);
  --input-color: rgb(45, 215, 160);
}
